// Variables
// ========================================================================
$magnify: 'magnify' !default;
$magnify-lens-border-width: 4px !default;
$magnify-overlay-bg: rgba(0, 0, 0, 0.4) !default;
$magnify-lens-border-color: #ffffff !default;
$magnify-lens-bg: rgba(0, 0, 0, 0.2) !default;

// Name:            `Magnify`
//
// Base styles
//
// ========================================================================
.magnify {
  position: relative;
  display: inline-block;

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    background-color: $magnify-overlay-bg;

    .#{$magnify}-lens {
      position: absolute;
      top: 0;
      left: 0;
      cursor: crosshair;
      margin-top: -$magnify-lens-border-width;
      margin-left: -$magnify-lens-border-width;
      border: $magnify-lens-border-width solid $magnify-lens-border-color;
      border-radius: 2px;
      background-color: $magnify-lens-bg;
      box-sizing: content-box;
    }
  }

  &-window {
    position: absolute;
    z-index: 99999999;
    display: none;
    overflow: hidden;
    border-radius: 2px;
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);

    img,
    .#{$magnify}-window-image {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }

    &-left {
      .#{$magnify}-window {
        top: 0;
        right: 100%;
        margin-right: 20px;
      }
    }

    &-right {
      .#{$magnify}-window {
        top: 0;
        left: 100%;
        margin-left: 20px;
      }
    }

    &-top {
      .#{$magnify}-window {
        left: 0;
        bottom: 100%;
        margin-bottom: 20px;
      }
    }

    &-bottom {
      .#{$magnify}-window {
        left: 0;
        top: 100%;
        margin-top: 20px;
      }
    }

    &.#{$magnify}-window-show {
      display: block;
    }
  }
}